.footer {
    position:fixed;
    bottom:0pt;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-color: #7952b3;
    color: black;
    width: 100%;
    height:40px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.log-in h1 {
    padding-top:125px;
    text-align:center;
}

.log-in-button {
    color:white;
    text-decoration:none;
}

.log-in-button:hover {
    color:white;
    text-decoration:none;
}

.log-in-button:active {
    color:white;
    background:#007bff;
    text-decoration:none;
}

form {
    display:block;
    padding: 55px 10% 5% 10%;
}

.logIn-link,.admin-link {
    padding:10px;
    text-align:center;
}

.logIn-link:active,.admin-link:active {
    text-decoration: none;
}

.announcement-container {
    margin:10px 20px 10px 20px;
}

.announcement-container h5 { 
    text-decoration:underline;
    width:80%;
}

.announcement h6 {
    text-decoration:none;
    margin-left:10px;
    margin-top:10px;
    font-size:20px;
}

.announcement {
    border:1px solid black;
    border-radius:5px;
    margin-top:15px;
}

.announcement-header {
    display:flex;
}

.announcement small{
    margin-left:195px;
    color:grey;
}

.announcement p {
    margin:15px 10px 0px 10px;
    word-wrap:break-word;
}

hr {
    border-width:1px;
    border-color:black;
    width:95%;
}

.post-button {
    border:none;
    color:white;
    background-color:#7952b3;
    text-align:center;
    text-decoration:none;
    font-size:13px;
}

.post-button a{
    text-decoration:none;
    color:black;
    border:2px;
    border-color:black;
}

#post {
    margin-left:35px;
}

.post-cancel {
    margin-left:39px;
    text-align:center;
}

.post-cancel:active {
    text-decoration:none;
}

.details {
    margin:20px 10px 20px 0px;
}

.user-name {
    margin:20px 10px 20px 0px;
    width:80%;
}

.details h5{
    margin-left:15px;
}

.information {
    display:flex;
    margin:20px 10px 20px 0px;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.col-sm-6 {
    margin-left:15px;
}

.welcome {
    margin:10px 15px;
}

.welcome h2 {
    font-weight: bold;
}
